.card {
    a{
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }
    p{
        margin: 0;
        font-size: 1rem;
        padding-left: 10px;
    }
}
.child-category {
    a{
        margin-left: 15px;
    }
    *{
        border: none !important;
    }
}